
body {
    font-family: 'Lemonada', cursive;
    background-color: white;
    background-image:url(../img/bg2.jpg);;
    background-attachment: fixed;
    border-style: inset;
    border-color: rgb(112, 207, 207);
    box-shadow: inset 10px 20px 100px 3px #656565;
    border-radius: 5px;
    height: 245em;
}

header {
    height: 35em;
}


img {
    border-radius: 1px;
    margin: 7em 2em 2em;
}

nav {
    border-radius: 5px;
    border-style: outset;
    box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.84);
    border-color: rgb(53, 100, 103);
    float: right;
    height: auto;
    margin-left: 20em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: left;
    width: 97%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 1em 5em 5em;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: rgb(20, 88, 110);
    padding: 2em;
    margin: 2.5em;
    border-style: outset;
    border-radius: 5px;
    box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.84);
    border-color: rgb(53, 100, 103);
}

h2 {
    text-align: center;
    color: rgb(7, 97, 97)
}

ul {
    float: right;
    height: 4em;
    margin-right: 3em;
    margin-top: 6em;
    width: 70%;

}

li {
    list-style-type: none;
    color: rgb(65, 56, 78);
    margin: 1em;
}

ul li:before {
    content: "  ";
}

ol li {
    list-style-type: disc;
    margin-left: 5em;
}

label {
    text-align: left;
    color: rgb(130, 134, 145);
    display: inline-block;
    width: 10em;
}

.information {
    font-weight: bold;
}

form label {
    width: 45em;
}

aside {
    border-radius: 0.5em;
    border-style: outset;
    box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.84);
    border-color: rgb(53, 100, 103);
    float: left;
    height: 193em;
    margin-left: 1em;
    padding: 1em;
    vertical-align: top;
    width: 20%;

}

main {
    border-radius: 0.5em;
    border-style: outset;
    box-shadow: 10px 20px 100px rgba(0, 0, 0, 0.84);
    border-color: rgb(53, 100, 103);
    float: left;
    height: 195em;
    margin-left: 3em;
    vertical-align: top;
    width: 70%;
}

section {
    height: auto;
    margin: 3em;
    width: 93%;
}

fieldset {
    width: 60%;
    border-radius: 0.5em;
}

fieldset p {
    margin: 0;
    color: rgb(130, 135, 145);
}

#motive label {
    color: rgb(8, 8, 8)
}

a {
    text-decoration: none;
    color: rgb(97, 0, 149);
    font-weight: bold;
    border: 0;
}

a:hover {
    color: rgb(162, 0, 10);
}

a:visited {
    color: rgb(61, 1, 121);
}

p {
    color: rgb(65, 56, 78);
    margin-left: 2em;
    padding: 2em;
}

#top2 img {
    float: right;
}

legend {
    color: rgb(76, 98, 133)
}

header, nav, aside, main, section, footer {
    display: block;

}
